[submodule "discord-bot"]
	path = discord-bot
	url = https://github.com/adityachakra16/vibe-train-discord
[submodule "frontend"]
	path = frontend
	url = https://github.com/adityachakra16/vibe-train-frontend
